@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

body, html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}

h1{
    font-weight: 800;
    font-size: 50px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-weight: 800;
    font-size: 50px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

p {
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
    
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.hero-banner {
    background-color: #007FFF;
    min-height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: -4;
}

.hero-banner h1 {
    color: white;
    margin: 14px 0 20px;
    z-index: 1;
}

.hero-banner h3 {
    color: white;
    margin: 0 0 35px;
    z-index: 2;
}

.hero-banner h4,
.hero-banner h4 a {
    color: white;
    margin: 0;
}

.character1{
    background: url(characters/circle-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 363px;
    height: 344px;
    position: absolute;
    top: 90px;
    right: 150px;
    transform: rotate(15deg);
    z-index: -2;
}

.character2{
    background: url(characters/floating-plant-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute; top: 213px; right: 307px;
    z-index: -3;
}

.character3{
    background: url(characters/eish-guy.png) no-repeat 0 0;
    background-size: 75%;
    width: 297px;
    height: 400px;
    position: absolute;
    top: 300px;
    right: 50px;
    z-index: -1;
}

a.cta, 
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

a.cta.alt,
button.cta.alt{
    background-color: #FFD400;
    color: #111111;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}

nav {
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}

nav .logo {
    display: block;
    width: 125px;
    height: 90px;
    position: absolute; top: 5px; left: 30px;
    background: url(logo.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
    
}

nav ul {
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav ul li a {
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}
.more-info {
    text-align: center;
}

